.sidebar {
  height: 100vh;
  flex: 0.2;
  background-color: #040404;
  color: #fafafa;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-logo {
  transition: 0.3s ease-in-out;
  margin-right: auto;
  height: 60px;
  object-fit: contain;
  width: auto;
  padding: 10px;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebar-title {
  margin-left: 12px;
  font-size: 12px;
  padding: 5px;
  letter-spacing: 1px;
}
